@font-face {
  font-family: 'ubuntu';
  src: url('../fonts/Ubuntu-Light.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/Roboto-VariableFont_wdth\,wght.woff2');
  font-style: normal;
}