.header__container {
  position: relative;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container::after {
    content: "";
    position: absolute;
    left: -80px;
    right: -80px;
    height: 1px;
    top: 80px;
    background-color: #ddd;
  }

.logo {
  width: 140px;
  height: 22px;
  font-family: var(--second-family);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
}

.circle, .ovale {
  height: 17px;
  border: 1px solid #333;
  border-radius: 9px;
}
.circle {
  width: 17px;
}

.ovale {
  width: 32px;
}

.burger {
  display: none;
  position: relative;
  z-index: 10;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
}

.burger__line {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--dark);
  transition: .15s ease-in-out;
}

.burger__line:nth-child(1) {
  top: 4px;
}

.burger__line:nth-child(2) {
  top: 13px;
}

.burger__line:nth-child(3) {
  top: 22px;
}

.burger--active .burger__line:nth-child(1) {
  top: 50%;
  transform: rotate(135deg);
}

.burger--active .burger__line:nth-child(2) {
  opacity: 0;
  left: -10px;
}

.burger--active .burger__line:nth-child(3) {
  top: 50%;
  transform: rotate(-135deg);
}

.burger:hover .burger__line {
  background-color: var(--color2);
}

.burger:active .burger__line {
  background-color: var(--color1);
}

.header__nav {
  position: relative;
  width: 500px;
  margin-left: auto;
}

.menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
}

.btn__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__btn {
  color: var(--dark);
}

.header__btn svg {
  stroke: currentColor;
}

.search__wrapper {
  display: flex;
  gap: 6px;
}

.search-form {
  display: none;
  overflow: hidden;
  width: 0;
  position: relative;
  transition: width .25s ease-in-out;
  border-bottom: 1px solid var(--light-grey);
}

.search-form--active {
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
}

.search-form--visible {
  width: 220px;
}

.search-form__input {
  max-width: 196px;
  border: none;
}

.search-form__input::placeholder {
  color: var(--light-grey);
}

.search-form__input:focus {
  outline: none;
}

.search-form__close {
  position: relative;
}

.search-form__close svg {
  border: 1px solid var(--color3);
  border-radius: 50%;
}

.search-form__close::after {
  content: "";
  position: absolute;
  inset: -4px;
}