@font-face {
  font-family: 'Ubuntu';
  src: url('../fonts/Ubuntu-Light.woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-VariableFont_wdth\,wght.woff2');
  font-style: normal;
}

:root {
  --font-family: "Roboto", sans-serif;
  --second-family: "Ubuntu", sans-serif;

  --dark: #4c5866;
  --text-grey: #85859b;
  --light-grey: #d1d1e5;
  --color1: #4946b4;
  --color2: #7875fe;
  --color3: #dad9fb;
  --color-logo: #333333;
  --color-logo--white: #ffffff;

  --border: 1px solid #7875fe;

  --transition: .15s ease-in-out;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: var(--font-family);
  color: var(--dark);
  font-size: 1rem;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  color: var(--dark);
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
}

.link:focus {
  outline: none;
}

.link:focus-visible {
  color: var(--dark);
  background-color: var(--color3)   ;
}

.btn {
  margin: 0;
  padding: 0;
  border: none;
  pointer-events: auto;
  position: relative;
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
}

.btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: -2px;
  opacity: 0;
  background-color: var(--color3);
}

.btn:focus-visible::after {
  opacity: 1;
}

.btn__secondary {
  display: inline-block;
  width: 255px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: var(--color2);
  border: 1px solid var(--color2);
  padding-block: 20px;
  transition: color .4s ease-in-out, background-color .4s ease-in-out;
}

.btn__secondary:focus {
  outline: none; 
}

.btn__secondary:focus-visible {
  background-color: var(--color3);
}

.header__container {
  position: relative;
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__container::after {
  content: "";
  position: absolute;
  left: -80px;
  right: -80px;
  height: 1px;
  top: 80px;
  background-color: #ddd;
}

.logo {
  width: 140px;
  height: 22px;
  font-family: var(--second-family);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 5px;
}

.circle, .ovale {
  height: 17px;
  border: 1px solid #333;
  border-radius: 9px;
}
.circle {
  width: 17px;
}

.ovale {
  width: 32px;
}

.logo--white {
  color: var( --color-logo--white);
}

.logo--white .circle,
.logo--white .ovale {
  border-color: var(--color-logo--white);
}

.burger {
  display: none;
  position: relative;
  z-index: 10;
  width: 30px;
  height: 30px;
  padding: 5px;
  background-color: transparent;
}

.burger__line {
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  border-radius: 1px;
  background-color: var(--dark);
  transition: .15s ease-in-out;
}

.burger__line:nth-child(1) {
  top: 4px;
}

.burger__line:nth-child(2) {
  top: 13px;
}

.burger__line:nth-child(3) {
  top: 22px;
}

.burger--active .burger__line:nth-child(1) {
  top: 50%;
  transform: rotate(135deg);
}

.burger--active .burger__line:nth-child(2) {
  opacity: 0;
  left: -10px;
}

.burger--active .burger__line:nth-child(3) {
  top: 50%;
  transform: rotate(-135deg);
}

.burger:hover .burger__line {
  background-color: var(--color2);
}

.burger:active .burger__line {
  background-color: var(--color1);
}

.header__nav {
  position: relative;
  width: 500px;
  margin-left: auto;
}

.menu__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  gap: 60px;
}

.btn__wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__btn {
  color: var(--dark);
}

.header__btn svg {
  stroke: currentColor;
}

.search__wrapper {
  display: flex;
  gap: 6px;
}

.search-form {
  display: none;
  overflow: hidden;
  width: 0;
  position: relative;
  transition: width .25s ease-in-out;
  border-bottom: 1px solid var(--light-grey);
}

.search-form--active {
  display: flex;
  flex-wrap: nowrap;
  gap: 6px;
}

.search-form--visible {
  width: 220px;
}

.search-form__input {
  max-width: 196px;
  border: none;
}

.search-form__input::placeholder {
  color: var(--light-grey);
}

.search-form__input:focus {
  outline: none;
}

.search-form__close svg {
  stroke: var(--dark);
  fill: var(--color3);
  border-radius: 50%;
  transition: stroke .04s ease-in-out, fill .04s ease-in-out;
}

.search-form__close::after {
  content: "";
  position: absolute;
  inset: -4px;
}

.hero {
  padding-top: 60px;
}

.hero__content {
  padding-bottom: 60px;
}

.hero__title {
  font-size: 60px;
  line-height: 100%;
  letter-spacing: 0;
}

.hero__descr {
    font-size: 18px;
    line-height: 150%;
    color: var(--text-grey);
}

.hero__img {
  width: 540px;
}

.result,
.product,
.partners,
.sketchbook {
  padding-block: 90px;
}

.result,
.partners {
  background-color: #ebebeb;
}

.result__container {
  margin-bottom: 90px;
}

.result__item {
  padding-top: 20px;
  border-top: 1px solid #c0c0c0;
}

.result__item .container {
  padding-inline: 0;
}

.result__item-title {
  font-weight: 500;
  font-size: 18px;
  color: #666;
}

.result__item-descr {
  font-size: 18px;
}

.result__img {
  width: 100%;
}

.result__title {
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 100%;
  color: #666;
}

.result__descr {
  line-height: 170%;
  color: var(--text-grey);
}

.product-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.product-card__title {
  font-size: 30px;
  color: #666;
}

.product-card__circulation {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  color: #b5b5bd;
}

.product-card__descr {
  font-size: 18px;
  color: var(--text-grey);
}

.product-card__link {
  display: block;
  margin-top: auto;
  width: auto;
  font-size: 20px;
  color: var(--color2);
  transition: color .4s ease-in-out;
}

.product-card__link svg {
  fill: var(--color2);
  transition: fill .4s ease-in-out;
}

.product-card__link:focus {
  outline: none;
}

.product-card__link:focus-visible {
  color: var(--color2);
  background-color: var(--color3);
  transition: color var(--transition), background-color var(--transition);
}

.swiper {
  display: flex;
  justify-content: center;
}

.swiper-slide {
  width: 25%;
}

.partners__link {
  height: 135px;
  padding-inline: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #c4c4c4;
}

.sketchbook {
  padding-bottom: 0;
}

.sketchbook__content {
  margin-bottom: 90px;
}

.sketchbook__title {
  color: #666;
  font-size: 40px;
}

.sketchbook__descr {
  color: var(--text-grey);
  font-size: 18px;
  line-height: 170%;
}

.sketchbook__image {
  background-image: url('/image/sketchbook.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.footer__top {
  min-height: 80px;
  background-color: var(--dark);
  display: flex;
  align-items: center;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo__container-bottom {
  padding: 20px 0;
  height: 22px;
}

.social {
  margin: 0;
  padding: 20px 0;
  display: flex;
  gap: 30px;
}

.social__link {
 position: relative;
 display: flex;
 align-items: center;
 justify-content: center;
 width: 24px;
 height: 24px;
}

.social__icon {
  position: relative;
  width: 24px;
  height: 24px;
  z-index: 1;
  fill: var(--color-logo--white);
  transition: fill .4s ease-in-out;
}

.social__link::after {
  content: "";
  position: absolute;
  z-index: 0;
  inset: -3px;
  border-radius: 2px;
  background-color: var(--color2);
  opacity: 0;
  transition: var(--transition);
}

.social__link:focus {
  outline: none;
}

.social__link:focus-visible::after {
  opacity: 1;
}

.social__icon:hover {
  fill: var(--color3);
  transition: var(--transition);
}

.social__icon:active {
  fill: var(--color2);
  transition: var(--transition);
}

.footer__bottom {
  text-align: center;
  text-transform: uppercase;
}

.footer__bottom .reg {
  color: #bcbcbc;
}